.destination {
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 15px 50px 30px;

    
}

.page-title{
    color: rgb(247,99,54);
}

.destination ul {
    display: flex;
    padding: 0;
    justify-content: center;
    margin-top: 0;
    
}

.destination li {
    list-style-type: none;
    margin-right: 10px;
    color: rgb(179,60,60);
}

.destination li::after {
    content: ",";
}

.destination li:last-child::after {
    content: ".";
}

.description {
    text-align: left;
    line-height: 1.5em;
}

.destination.dark {
    background: #555;
    color: #e4e4e4;
}